<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <META HTTP-EQUIV="refresh" CONTENT="{{ refresh_rate }}">
    <link rel="stylesheet" href="css/animate.css">
    <link rel="stylesheet" href="css/styles.css">
    <link rel="stylesheet" href="js/noty/lib/noty.css">
    <script type="text/javascript" src="js/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="js/circle-progress/circle-progress.min.js"></script>
    <script type="text/javascript" src="js/noty/lib/noty.min.js"></script>
    <title>Monitor Dashboard</title>
</head>

<body>
    <div id="circle"><strong></strong></div>
    <script>
        $('#circle').circleProgress({
            value: "{{ servers_percent }}",
            size: 350,
            thickness: 6,
            emptyFill: "#262b33",
            fill: {
                color: ["#0AB0DE"]
            }
        }).on('circle-animation-progress', function(event, progress, stepValue) {
            $(this).children('strong').text((stepValue * 100).toFixed(0) + '%');
        });
    </script>
    <script type="text/javascript" src="js/circleColor.js"></script>
    <script type="text/javascript" src="js/circleSize.js"></script>
    <script type="text/javascript" src="js/notifications.js"></script>
    <script>
        new Noty({
            text: "Report created " + "{{ now }}",
            type: 'notification',
            theme: 'mint',
            closeWith: ['click'],
            progressBar: true,
            timeout: 10000,
            animation: {
                open: 'animated bounceInRight',
                close: 'animated bounceOutRight',
                easing: 'swing',
            }
        }).show();
    </script>

    <div class="table-title">
        <h3></h3>
    </div>

    <table class="table-fill">
        <thead>
            <tr>
                <th width="65%" class="text-left">Device</th>
                <th width="35%" class="text-center">Status</th>
            </tr>
        </thead>
        <tbody class="table-hover">
					{% for h in host_dict %}
            <tr>
							<td onClick="window.open('http://{{ h.get("hostname") }}{% if h.get("port") %}:{{ h.get("port") }}{% endif %}')";class="text-left">{{ h.get("name") }}{% if h.get("port") %}:{{ h.get("port") }}{% endif %}</td>
							{% if h.get("status") == "up" %}
							<td><div class="led-green"></div></td>
							{% elif h.get("status") == "down" %}
							<td><div class="led-red"></div></td>
							{% endif %}
						</tr>
					{% endfor %}
			  </tbody>
    </table>
</body>

</html>
