<html>
<head>
	<META HTTP-EQUIV="refresh" CONTENT="#REFRESHRATE">
	<link rel="stylesheet" href="css/styles.css">
	<script type="text/javascript" src="js/jquery.min.js"></script>
	<script type="text/javascript" src="js/circle-progress.js"></script>
	<script type="text/javascript" src="js/jquery.noty.packaged.min.js"></script>
</head>
<body>
	<div id="circle"><strong></strong></div>

	<script>
	$('#circle').circleProgress({
		value: "#SERVERSPERCENT",
		size: 350,
		thickness: 10,
		emptyFill: "#262b33",
		fill: { gradient: ["#00BFA5", "#1565C0"]}
	}).on('circle-animation-progress', function(event, progress, stepValue) {$(this).children('strong').text((stepValue * 100).toFixed(0) + '%');});
	</script>
	<script type="text/javascript" src="js/notifications.js"></script>
	<script>noty({text: "Report created " + "#NOW", type: 'information'});</script>

	<div class="table-title">
		<h3></h3>
	</div>

	<table class="table-fill">
	<thead>
		<tr>
		<th width="65%" class="text-left">Device</th>
		<th width="35%" class="text-center">Status</th>
		</tr>
	</thead>
	<tbody class="table-hover">
